# General Config
ENVIRONMENT='development' # local, development, staging, production
VERSION="0.0.1"

JWT_MAGIC_SECRET=''
JWT_REFRESH_SECRET=''
JWT_ACCESS_SECRET=''
JWT_ACCESS_EXP=300
JWT_REFRESH_EXP=600

# Database details
DB_HOST=''
DB_PORT=''
DB_USER=''
DB_NAME=''
DB_PASSWORD=''
DB_MAX_OPEN_CONNECTION=50
DB_MAX_IDLE_CONNECTION=5
DB_CONNECTION_MAX_LIFETIME=5
DB_LOGMODE=true
DB_SCHEMA=''

# API Server Connection Details
HTTPSERVER_URL='https://api.sigmatech.id'
HTTPSERVER_LISTEN='0.0.0.0'
HTTPSERVER_PORT='9090'
HTTPSERVER_READ_TIMEOUT=50000
HTTPSERVER_WRITE_TIMEOUT=50000
HTTPSERVER_MAX_CONNECTIONS_PER_IP=50
HTTPSERVER_MAX_REQUESTS_PER_CONNECTION=10
HTTPSERVER_MAX_KEEP_ALIVE_DURATION=50000

# Log config
LOG_FILE_PATH='/tmp'
LOG_FILE_NAME='sigmatech-user.log'
LOG_FILE_MAXSIZE=10
LOG_FILE_MAXBACKUP=5
LOG_FILE_MAXAGE=30

# Access Log config
ACCESS_LOG_FILE_PATH='/tmp'
ACCESS_LOG_FILE_NAME='sigmatech-user-access.log'
ACCESS_LOG_FILE_MAXSIZE=10
ACCESS_LOG_FILE_MAXBACKUP=5
ACCESS_LOG_FILE_MAXAGE=30

# AWS Config
AWS_ACCESS_KEY_ID=''
AWS_SECRET_ACCESS_KEY=''
AWS_REGION=''
AWS_S3_BUCKET_NAME=''